@import 'normalize';
@import 'font-awesome.min';
@import 'fonts';

$bgColor: #F8F8F8;;
$text: #37383c;
$white: #fff;
$pink: #fe3e79;
$border:#d9fff4;
$butBorder: #b8ffec;
$gradient: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
$font-slim: 'TT_Lakes_Regular', sans-serif;
$font-semi: 'TT Lakes Medium', sans-serif;
$font-fat: 'TT Lakes Bold', sans-serif;
@import '1440';
@import '768';
@import '320';


.aside_open{
  display: block;
}